@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
/* font  */
@font-face {
  font-family: compassion;
  src: url(compassion.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #f4f1e0;
  font-family: compassion;
  position: relative;
  text-transform: uppercase;
}
/* loader  */
.loader-page {
  z-index: 100;
  background-color: #f4f1e0;
  width: 100%;
  height: 100vh;
  position: absolute;
  /* display: none; */
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  aspect-ratio: 1;
  background: #000;
  border-radius: 50%;
  animation: l6 0.5s infinite linear alternate;
}
@keyframes l6 {
  0% {
    box-shadow: 15px 0, -25px 0;
  }
  50% {
    box-shadow: 15px 0, -15px 0;
  }
  100% {
    box-shadow: 25px 0, -15px 0;
  }
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #f4f1e0;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: black;
}

.navbar a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.navbar h3 {
  color: black;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
}

.navbar span {
  color: black;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
}

.navbar h2 {
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 1px;
}

/* cart side bar  */
.sidebar-cart {
  background-color: #f4f1e0;
  border-left: 1px solid #bdb498;
  position: fixed;
  top: 0;
  right: -31vw;
  z-index: 1000;
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-cart .sidebar-top {
  height: 5vw;
  width: 100%;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.sidebar-top h4 {
  color: black;
  font-weight: normal;
  font-size: 1vw;
  text-align: end;
  margin: 3rem 1rem;
  cursor: pointer;
}

.sidebar-cart .sidebar-mid {
  height: 40vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid black;
  /* background-color: gray; */
}
.sidebar-mid .single-product {
  background-color: #f4f1e0;
  width: 100%;
  height: 8rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5px;
  border-bottom: 1.5px solid #bdb498;
}
.sidebar-mid .cart-img {
  overflow: hidden;
  border-radius: 2px;
  width: 10rem;
  height: 7rem;
}
.cart-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.sidebar-mid .desc {
  height: 100%;
  width: 100%;
  /* background-color: #204224; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  padding-left: 4rem;
}

.desc .name {
  font-weight: normal;
}

.desc .edit-num {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  gap: 3rem;
  align-items: center;
}
.edit-num .product-num {
  padding: 6px 4rem;
  border: 1px solid gray;
}
.edit-num h4 {
  font-weight: normal;
}
.sidebar-cart .price {
  width: 6vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-cart .sidebar-bottom {
  height: 5vw;
  width: 100%;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.sidebar-bottom button {
  letter-spacing: 2px;
  font-family: compassion;
  font-weight: normal;
  color: white;
  padding: 15px 60px;
  border: none;
  cursor: pointer;
  background-color: #321e1e;
}

/* hero  */
.hero {
  width: 100%;
  height: calc(100vh - 6rem);
  background-color: #b0d8e8;
}

.hero .top-hero {
  display: flex;
  justify-content: start;
  gap: 2rem;
  padding: 2rem 0;
  margin-left: 2rem;
  align-items: center;
}
.top-hero h2,
span,
a {
  font-weight: 100;
  font-size: 1.5vw;
  font-weight: 100;
  color: #f4f1e0;
}

/* middle hero part  */
.hero .middle-hero {
  margin: 0 1rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2dbe9;
  gap: 0.5rem;
}

.middle-hero .img-box {
  background-color: white;
  width: 50rem;
  height: 28rem;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* bottom hero part  */
.bottom-hero {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  color: #d0713a;
}

.bottom-hero h1 {
  width: 100%;
  font-weight: 100;
  font-size: 14vw;
}

/* main shop section   */

.shop {
  margin: 5rem 0;
}
.shop-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.shop-container .shop-card {
  /* background-color: black; */
  width: 100%;
  height: 35vw;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid rgb(172, 172, 172);
}

.shop-card img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
  object-position: center;
}

.shop-card .name {
  text-transform: capitalize;
  letter-spacing: -0.5px;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  font-family: "Rubik", sans-serif;
  color: black;
  cursor: pointer;
  font-weight: 300;
}
.shop-card .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

.shop-card .desc span {
  font-family: compassion;
  font-weight: 400;
  color: black;
  padding: 0 1rem;
  font-size: 1.2rem;
}
/* footer part  */
.footer {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #321e1e;
}

.footer .footer-top {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top .links {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  /* background-color: black; */
}
.links div {
  width: 100%;
  border-bottom: 1.5px solid #bdb498;
}
.links h1 {
  width: 100%;
  height: 100%;
  font-size: 4vw;
  padding-bottom: 0.4rem;
  padding-top: 0.6rem;
  padding-left: 1rem;
}
.footer-top .contact {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-left: 1.5px solid #bdb498;
  /* border-bottom: 1.5px solid #BDB498; */
}
.footer-bottom {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom h1 {
  line-height: none;
  padding-left: 2rem;
  padding-bottom: 5rem;
  letter-spacing: 3vw;
  font-size: 16vw;
  font-weight: bolder;
}
