@media (max-width: 600px) {
    /* for navbar  */
    .navbar {
      padding: 0 1rem;
  
    }
    
    .navbar h3 {
      font-size: 14px;
    }
    
    .navbar span {
      font-size: 14px;
    }
    
    .navbar h2 {
      font-size: 20px;
      cursor: pointer;
    }
  
  /* hero  */
  .hero {
    width: 100%;
    height: 70vh;
    background-color: #204224;
  }
  
  .hero .top-hero {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 2rem;
    padding: 2rem 0;
    margin-left: 2rem;
    align-items: center;
  }
  .top-hero h2,
  span,
  a {
    font-size: 10px;
  }
    
  
  /* middle hero part  */
  .hero .middle-hero {
    display: block;
    margin: auto;
    gap: 0;
    width: 100%;
    overflow-x: auto; 
    white-space: nowrap; 
  }
  
  .middle-hero .img-box {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    display: inline-block; 
    width: 100vw;
  }
  
  
  
  /* favourite part  */
  .favourites {
    width: 100%;
    height: 100vh;
    display: block;
  }
  .favourites h1 {
    width: 100%;
    height: 2rem;
    color: #321e1e;
    font-size: 2rem;
    padding-top:2rem;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 1rem;
  }
  
  .favourites .favourite-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    place-items: center;
    place-content: center;
    align-items: center;
    /* background-color: red; */
    overflow-y: auto;
  }
  .favourites .favourite-card {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 25em;
    border: 1px solid gray;
    overflow: hidden;
    padding: 1px;
  }
  
  .favourite-card .img-box{
    width: 100%;
    height: 20rem;
  }
  .favourite-card img {
    width: 100;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .favourite-card span {
    text-transform: capitalize;
    letter-spacing: -0.5px;
    font-size: 1.2rem;
    font-family: "Rubik", sans-serif;
    color: black;
    cursor: pointer;
  }
  .favourite-card .desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
  }
  
  .favourite-card .name {
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 300;
    padding: 1px;
  }
  .favourite-card .desc span {
    font-family: compassion;
    font-weight: 400;
    color: black;
    padding: 0 1rem;
    font-size: 1rem;
  }
  
  
  
  /* collection parts  */
  .collections {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: block;
  }
  
  .collections .collection-card {
    display: inline-block;
    background-color: green;
    width: 100%;
    height: 25rem;
    position: relative;
    flex: 1;
  }
  
  .collection-card h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  
  .collection-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  
  
  /* footer part  */
  .footer {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 55vh;
    display: block;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
    color: #321e1e;
  }
  .footer .footer-top {
    padding: 0;
    height: 19rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-top .links {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    /* background-color: black; */
  }
  
  .links div {
    width: 100%;
    border-bottom: 1.5px solid #bdb498;
  }
  .links h1 {
    width: 100%;
    font-size: 2rem;
    padding-bottom: 0.2rem;
    padding-top: 0.6rem;
    padding-left: 1rem;
  }
  .footer-top .contact {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    border-left: 1.5px solid #bdb498;
    padding: 0;
  }
  .footer-bottom {
    /* background-color: #c7c7c7; */
    font-size: 3rem;
    letter-spacing: 1rem;
    width: 100%;
    position: absolute;
    left: 50%;
    padding-top: 20px;
    transform: translate(-50%, -50%);
  }
  
  
  
  /* side bar cart part  */
  .sidebar-cart {
    background-color: #f4f1e0;
    border-left: 1px solid #bdb498;
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 1000;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-cart .sidebar-top {
    height: 4rem;
    width: 100%;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .sidebar-top h4 {
    color: black;
    font-weight: normal;
    font-size: 1rem;
    text-align: end;
    margin: 3rem 1rem;
    cursor: pointer;
  }
  
  .sidebar-cart .sidebar-mid {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid black;
    overflow-y: auto;
    /* background-color: gray; */
  }
  .sidebar-mid .single-product {
    background-color: #f4f1e0;
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
    border-bottom: 1.5px solid #bdb498;
    padding: 0.5rem;
  }
  
  .single-product .cart-img {
    overflow: hidden;
    border-radius: 2px;
    width: 7rem;
    height: 4rem;
  }
  
  .cart-img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
  
  .single-product .desc {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-grow: 1; 
    padding: 1rem 1rem;
    margin-right: 1rem;
  }
  
  .desc .name {
    font-weight: normal;
    font-size: 12px;
  }
  
  .edit-num {
    display: flex;
    align-items: center;
  }
  
  .edit-num .product-num {
    padding: 4px 40px; 
    margin-right: 2rem; 
    border: 1px solid gray;
  }
  
  .edit-num h4 {
    font-weight: normal;
    font-size: 14px;
  }
  
  .single-product .price {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    width: 5rem;
  }
  
  
  .sidebar-cart .sidebar-bottom {
    height: 10rem;
    width: 100%;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar-bottom button {
    letter-spacing: 2px;
    font-family: compassion;
    font-weight: normal;
    color: white;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    background-color: #321e1e;
  }
  }